/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);


body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	
    margin: 12px auto;
    text-align: center;
    position: relative;
    max-width: 950px;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 99%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
#msform input.tam,  #msform select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 49%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

#msform input.tampe,  #msform select.tampe {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 32.5%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

#msform input.tampes{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 27.5%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
hr.solid {
  border-top: 3px solid #003563;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #69a43c;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: -10px 10px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-left: 63px;
	margin-bottom: 35px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 7%;
    float: left;
    margin-left: 5px;
    position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 15px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: white;
	background: #003563;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}

#progressbar li.estilo:before {
	content: counter(step);
	counter-increment: step;
	width: 15px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: white;
	background: #0070D1;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}

#progressbar li.estilo1:before {
	content: counter(step);
	counter-increment: step;
	width: 15px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: white;
	background: #00AFEB;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
#progressbar li.estilo2:before {
	content: counter(step);
	counter-increment: step;
	width: 15px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: white;
	background: #00E4EB;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}


/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background:#003563;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #69a43c;
	color: white;
}